nav {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 60px;
  z-index: 100;
  /* background-color: #7fe6e8; */
  background: linear-gradient(90deg,#7fe6e8,#f53fcc);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.H-section {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.H-section:first-child {
  justify-content: flex-start;
  padding-left: 40px;
  color: white;
}

/* Menu Mobile */

.App-navbar {
  position: absolute;
  height: calc(100vh - 60px);
  top: 61px;
  padding: 30px;
  background-color: white;
  z-index: 100;
  transition: .5s ease-in all;
  overflow-y: scroll;
}

.m-on{
  left: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.Item-header, .Item-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7e7e7e;
}

.Item-header {
  height: 50px;
  font-size: 26px;
  font-variant: small-caps;
}

.Item-header p {
  margin-left: 10px;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
}

svg.svg-inline--fa.fa-bone.fa-w-20.fa-sm.icon {
  color: #fdde00;
}

.Item-section {
  padding: 10px 0;
  font-size: 16px;
}

.Item-section a {
  color: #7e7e7e;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  transition: .3s ease-out all;
}

.Item-section a:hover {
  padding-left: 15px;
}

/* .item-active {
  color: red !important;
} */

/* media queries */
/* ##Device = Desktops */
@media (min-width: 1281px) {
  .App-navbar {
    width: 30vw;
  }
  .m-off {
    left: -30vw;
  }
}
/* ##Device = Laptops, Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  .App-navbar {
    width: 30vw;
  }
  .m-off {
    left: -30vw;
  }
}
/* ##Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
  .App-navbar {
    width: 50vw;
  }
  .m-off {
    left: -50vw;
  }
}
 /* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .App-navbar {
    width: 100vw;
  }
  .m-off {
    left: -100vw;
  }
  .Item-header {
    height: 70px;
    font-size: 40px;
  }
  .Item-section {
    height: 50px;
    font-size: 26px;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .App-navbar {
    width: 100vw;
    /* top: 60px; */
  }
  .m-off {
    left: -100vw;
  }
  .Item-header {
    height: 70px;
    font-size: 35px;
  }
  .Item-section {
    height: 50px;
    font-size: 25px;
  }
}
