.Detail-section {
  display: flex;
  flex-flow: row wrap;
  padding: 0 40px;
}

.Detail-article {
  flex: 70%;
  max-width: 70%;
}

.Detail-aside {
  flex: 30%;
  max-width: 30%;
}

.Detail-title, .Detail-info, .author-name{
  color: #535353;
  font-weight: 600;
}

.Detail-info {
  font-size: 22px;
  margin-bottom: 30px;
}

.Detail-info .info-date{
  margin-bottom: 10px;
}

.info-date {
  margin-right: 20px;
}

.icon-date {
  color: #7fe6e8;
  margin-right: 10px;
 }
.icon-author {
  color: #f53fcc;
  margin-right: 10px;
 }

.Detail-subtitle {
  color: #535353;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-bottom: 20px;
}

.Detail-img {author-name
   max-width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

.Detail-content * {
  color: #656565 !important;
  font-family: 'Poppins' !important;
  font-size: 18px !important;
  margin-bottom: 20px;
}

.Detail-content img {
 max-width: 100%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.Detail-author {
  display: flex;
  align-items: center;
  border-top: 2px solid #7fe4e8;
  padding-top: 20px;
}

.author-img {
  max-width: 80px;
  margin-right: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.author-name {
  color: #f53fcc;
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (max-width: 767px) {
  .Detail-section {
    flex-flow: column wrap;
  }  
  .Detail-article, .Detail-aside {
    max-width: 100%;
  }
}

/* ##Device = Mobiles */
@media (min-width: 300px) and (max-width: 480px) {
  .Detail-section {
    padding: 0%;
  }  
}
