.Card {
  background: white;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: .2s ease-in all;
}

.Card-h {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.Card-h .Card-container-img {
  flex: 40%;
  max-width: 40%;
}

.Card-h .Card-container-content {
  flex: 50%;
  max-width: 50%;
}

.Card:hover .Card-title{
  color: #f543cb;
}
.Card:hover .Card-img {
  filter: invert(.8);
}

.Card-img {
  width: 100%;
  vertical-align: top;
  border-radius: 10px 10px 0px 0px;
  transition: .2s ease-in all;
}

.Card-container-content {
  padding: 10px;
  transition: .2s ease-in all;
}

.Card-title {
  color: #535353;
  font-size: 18px;
  font-weight: 600;
}

.Card-description {
  color: #828282;
  font-family: 'Poppins';
  font-size: 12px;
}

.Card-author {
  color: #828282;
  font-size: 12px;
}

.Card-author span {
  font-size: 18px;
  font-weight: 600;
  color: #3cb7b8;
}

/* media queries */
/* ##Device = Desktops */
@media (min-width: 1281px) {

}
/* ##Device = Laptops, Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {

}
/* ##Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
  .Card-h .Card-container-img {
    flex: 50%;
    max-width: 50%;
  }

  .Card-h .Card-container-content {
    flex: 45%;
    max-width: 45%;
  }
}
 /* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  .Card-h .Card-container-img, .Card-h .Card-container-content {
    flex: 100%;
    max-width: 100%;
  }
  .Card {
    position: relative;
  }
  .Card-container-content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  .Card-title {
    color: #f543cb;
  }
  .Card-description, .Card-author {
    color: white;
  }
}

/* ##Device = Mobiles */
@media (min-width: 300px) and (max-width: 480px) {
  .Card-title, .Card-author span {
    font-size: 24px;
  }
  .Card-description {
    font-size: 16px;
  }
  .Card-h .Card-container-img, .Card-h .Card-container-content {
    flex: 100%;
    max-width: 100%;
  }
  .Card-title {
    color: #f543cb;
  }
}
