.App-home {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.Home-articles {
  flex: 70%;
  max-width: 70%;
}

.Home-aside {
  flex: 30%;
  max-width: 30%;
}

@media (min-width: 481px) and (max-width: 767px) {
  .Home-articles, .Home-aside {
    flex: 100%;
    max-width: 100%;
    padding: 20px;
  }
}
/* ##Device = Mobiles */
@media (max-width: 480px) {
  .Home-articles, .Home-aside {
    flex: 100%;
    max-width: 100%;
  }
}
