.App {
  width: 100vw;
}

.App-content {
  width: 100%;
  padding: 40px;
  padding-top: 100px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .App-content {
    padding: 25px;
  }
}
/* ##Device = Mobiles */
@media (max-width: 480px) {
  .App-content {
    padding: 20px;
  }
}
