@import url('https://fonts.googleapis.com/css?family=Heebo|Open+Sans|Poppins');

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  /* background: #eaeaea; */
}

h1, p, figure {
  margin: 0;
  padding: 0;
}

.icon {
  cursor: pointer;
}
